
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class=row>
        <div class="text-center">
            <h2>Alumnos</h2>

        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
        </div>
        <div class="col-md-1" style="padding-left:100px">
            <div class="col-md-3"><button class="btn btn-success" onclick="AbrirModal()">Agregar Materias</button></div>
        </div>
    </div>
    
    <br />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/Materia/MateriaCrud.js"></script>
    <table class="table   table-hover table-bordered table-responsive" id="Materia" name="Materia">
        <thead>
            <tr class="table-secondary">
                <td>Editar</td>
                <td style="display :none;">id</td>
                <td>Nombre</td>
                <td>Costo</td>
                <td>Eliminar</td>

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>

