﻿@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Materias Registradas</h2>
            
        </div>

    </div>

</div>
<br />
<div class="modal" tabindex="-1" role="dialog" id="modalPromociones">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Formulario Nueva Materia </h4>
               
            </div>

            <!-- Modal body -->
            <div class="modal-body">

               
                    <div class="form-group col-md-6" style="display:none">
                        <label>IdMateria</label>
                        <input type="text" class="form-control" id="txtIdMateria" >
                    </div>
                    <div class="form-group col-md-6">
                        <label> Nombre Materia</label>
                        <input type="text" class="form-control" id="txtNombre" >
                    </div>
                    <div class="form-group col-md-6">
                        <label> Costo</label>
                        <input type="text" class="form-control" id="txtCosto" >
                    </div>
                    
                    <button type="submit" class="btn btn-success" onclick="Modal()">Enviar</button>

                
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="CerrarModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/Materia/MateriaCrud.js"></script>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h5>Seleccione una Materia para editarla o + para agregar una nueva...</h5>
            <hr />
        </div>
    <div class="row">
        <div class="col-md-10">
        </div>
        <div class="col-md-1" style="padding-left:100px">
            <div class="col-md-3"><button class="btn btn-success" onclick="AbrirModal()">Agregar Materia</button></div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-12">
                <table class="table   table-hover table-bordered table-responsive "  id="Materia" name="Materia">
                <thead>
                    <tr class="table-secondary">
                        <th class="text-center" scope="col">Editar</th>
                        <th class="text-center" scope="col" style="display :none;">IdEmpleado</th>
                        <th class="text-center" scope="col">Materia</th>
                        <th class="text-center" scope="col">Costo</th>
                        <th class="text-center" scope="col">Eliminar</th>
                        
                        
                    </tr>

                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>